/* Order of import is important */
////////////////////
// TAILWIND
////////////////////
@tailwind base;
@tailwind components;
@tailwind utilities;

////////////////////
// GLOBAL
////////////////////
@import 'function';
@import 'variables';
@import 'keyframes';
@import 'animations';
@import 'mixin';

////////////////////
// 3RD PARTY LIBRARY
////////////////////
@import "@splidejs/splide/dist/css/themes/splide-default.min.css";
@import url('https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-compare/v0.4.0/mapbox-gl-compare.css');

////////////////////
// COMPONENTS
////////////////////
@import '../components';

html {
  --c-primary-color: #{$secondary-color};
  --c-secondary-color: #{$primary-color};
  --c-background-color: #{$white};
  --c-background-oppose-color: #{$zinc-500};
  --c-background-revert-color: #{$black};
  --b-animation-speed: 150ms;
  --h-header: 112px;
  --h-footer: 60px;
  --c-animation-cubic: cubic-bezier(0.2, 0, 0.2, 1);
  overflow-x: hidden;
}

html.dark {
  --c-primary-color: #{$primary-color};
  --c-secondary-color: #{$secondary-color};
  --c-background-color: #{$black};
  --c-background-oppose-color: #{$zinc-500};
  --c-background-revert-color: #{$white};
}

body {
  padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-color: rgba(var(--c-background-color));
  color: rgba(var(--c-background-revert-color));
  transition: color var(--b-animation-speed) var(--c-animation-cubic),
    background-color var(--b-animation-speed) var(--c-animation-cubic);

  * {
    transition: background-color var(--b-animation-speed) linear,
      transform var(--b-animation-speed) linear;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a, button, svg {
  @apply hover:text-secondary hover:stroke-secondary;
}

.min-height {
  min-height: calc( 100vh - #{var(--h-header)});
}

.icons-style {
  @apply opacity-100 fill-transparent stroke-background-revert stroke-2 block;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#cursor {
  display: none !important;
  width: 20px;
  height: 20px;
  border-color: var(--c-background-revert-color) !important;
  transition: all 700ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  z-index: 999;

  @media (min-width: $screen-md) {
    display: block !important;
  }
}

.hover #cursor {
  background-color: var(--c-background-oppose-color) !important;
  border: none !important;
  opacity: 0.4 !important;
  height: 45px !important;
  width: 45px !important;
}